@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,500;1,400&display=swap');

*,
*:before,
*:after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #444;
  color: #fff;
  font-family: 'Playfair Display', serif;
  font-weight: 500;
}

::placeholder{
    padding-left: 15px;
    color: #3a9bea;
}

.header {
  background-color: #111;
  padding: 20px;
  text-align: center;
  font-weight: 400;
  /* font-style: italic; */
}

.classAppStates{
    background-color: #070;
    padding: 25px 0 20px 0;
}

.funAppStates{
    background-color: #3a9bea;
    padding: 25px 0 20px 0;
}

.thisIsClass{
border: 3px solid red;
margin-bottom: 10px;
}