.grid-animation{
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    grid-template-areas: 
    "a b"
    "c d";
    animation: animation 5s infinite;
}

/* привязываем элементы к areas */
.grid-animation div:nth-child(1){
    grid-area: a;
}

.grid-animation div:nth-child(2){
    grid-area: b;
}

.grid-animation div:nth-child(3){
    grid-area: c;
}

.grid-animation div:nth-child(4){
    grid-area: d;
}

@keyframes animation{
    0%{
        grid-template-areas: 
        "a b"
        "c d";     
    }
    25%{
        grid-template-areas: 
        "b c"
        "a d";
    }
    50%{
        grid-template-areas: 
        "c d"
        "b a";
    }
    100%{
        grid-template-areas: 
        "b a"
        "d c";
    }
}