.auto-fill-grid{
    width: 600px;
    grid-template-columns: repeat(auto-fill, 200px);
}

/* auto fill создает столько колонок, сколько вмещается с одинаково заданным размером */

/* !!! auto fill minmax придерживается позиции минимального размера, 
может !!создавать пустые ячейки grid, 
только при необходимости, при наполнении будет расширяться к максимальному значению */

.min-max-grid{
    grid-template-columns: minmax(120px, 30%) minmax(70px, 70%);
}

.auto-fit-grid{
    grid-template-columns: repeat(auto-fit, minmax(70px, auto));
}

/* !!! auto fit minmax придерживается позиции максимального размера, 
не создает!! пустые ячейки grid, 
будет расширяться к максимальному значению, пока в контейнере есть место*/