/* у нас есть один заполненный блок, а остальные пустые блоки и строки создают сетку */

.line-layout{
    grid-template-columns: repeat(6, 50px);
    grid-template-rows: repeat(6,50px);
}

/* с помощью этой функции мы выбираем наш блок и перемещаем его задавая координаты */

.line-layout div:nth-child(1){
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 5;
}

/* если координаты,например, двух блоков будут совпадать, то один будет перекрывать другой по иерархии или z индексу */

/* для чего можно использовать??? */
/* размещение акций, скидок, логотипов поверх картинок */